name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os:
          - label: Linux
            key: ubuntu-latest
          - label: Mac
            key: macos-latest
          - label: Windows
            key: windows-latest
        node: [10, 12, 14, 15]
    name: Node ${{ matrix.node }} on ${{ matrix.os.label }}
    runs-on: ${{ matrix.os.key }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm i
      - run: npm test
